[run]
branch = True
omit =
    */__about__.py

[report]
exclude_lines =
    # Testing the main() function isn't a unit test, it's an integration test.
    main()
    # Don't know why these aren't skipped by default
    \.\.\.
    pass
